#itemlistcontainer{
  background-color: burlywood;
}

img{
  display: block;
  /* max-width: 100%; */
  height: 100px;
  width: 100px;
}

.containerProduct{
  display: flex;
  text-align: center;
  justify-content: center;
  gap:20px
}

