/* black = #5f5f5f
white = #e1e1e1
red = #dc1a10
whiteBright = #ffffff */
*, *::before, *::after{
box-sizing: border-box;
 margin: 0px;
  padding: 0px;
}

li{
  text-decoration: none;
}

ul{
  list-style: none;
}